!!! 5
html
  head
    title Node Process Top
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=false')
    meta(name='apple-mobile-web-app-capable', content='yes')
    link(rel='stylesheet', href='css/jquery.mobile-1.0.min.css')
    link(rel='stylesheet', href='css/lightBlue.css')
    link(href='http://fonts.googleapis.com/css?family=Lobster', rel='stylesheet', type='text/css') 
    script(type='text/javascript', src='js/jquery.js')
    script(type='text/javascript', src='js/jquery.mobile-1.0.min.js')
    script
      $(document).ready(function(){
      new get_fb();
      });
      function get_fb(){
      var feedback = $.ajax({
      type: "get",
      url: "/top",
      async: false
      }).complete(function(){
      setTimeout(function(){get_fb();}, 2000);
      }).responseText;
      $('#result').html(feedback);
      }
  body     
    div(data-role='page')
      header(data-role='header')
        h1 Currently Running Processes
        nav.ui-grid-c
          .ui-block-a
            a.navSelected(href='index.html', data-transition='pop') Home
          .ui-block-b
            a(href='portfolio.html', data-transition='pop') Portfolio
          .ui-block-c
            a(href='blog.html', data-transition='pop') Blog
          .ui-block-d
            a(href='contact.html', data-transition='pop') Contact
        hr.divider

      textarea#result(style='color: black !important;') 

        
      
        h4 Words
        p
          | See this shit on github.


